%p#notice= notice

%p
  %b Name:
  = category.name

%ul
  - category.products.each do |product|
    %li
      = product.title

.well
  %h3 Add new product
  = render 'products/form'
- if current_user.admin?
  = link_to 'Edit', edit_category_path(category)
  \|
= link_to 'Back', categories_path, class: 'btn btn-primary'
